.about{
    /* background-image: url('./../images/web-design-background.png'); */
    background-color: rgb(44, 44, 92);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}
.about-para{
    padding-top: 7%;
    padding-right: 10%;
    padding-left: 10%;
    color:white;
    font-weight: 600;
    position: absolute;
    
}
/* Default styles for the About component */
.about {
    padding: 20px;
    font-size: 18px;
    text-align: justify;
}

/* Media query for tablet responsiveness */
@media screen and (max-width: 768px) {
    .about {
        font-size: 16px;
        background-attachment: scroll;
        /* Adjust font size for tablets */
    }
        .about-para{
    padding-right: 40%;
        }
}

/* Media query for mobile responsiveness */
@media screen and (max-width: 576px) {
    .about {
        font-size: 14px;
        
        padding: 10px;
        background-attachment: scroll;
        
    }
        .about-para {
            padding-right: 30%;
        }
}