.contact {
    display: grid;
    position: relative;
    justify-content:center;
    font-family: Helvetica, sans-serif;
    background-color: #032338;
    /* background-image: linear-gradient(135deg, #8BC6EC 100%, #9599E2 100%); */
    padding: 20px;
    color: azure;
    text-align: center;
    
}
.form-group{
    margin-bottom: 20px;
}
h5 {
    font-family: cursive;
    font-weight: 400;
}

#startbtn {
    background-color: orange;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
}

#startbtn:hover {
    transform: translateZ(-25px) rotateX(-60deg);
}
