.pagination {
    text-align: center;
    justify-content: center;
}

.page-list {
    list-style-type: none;
    padding: 0;
}

.page-item {
    display: inline-block;
    margin-right: 5px;
    /* Adjust spacing as needed */
    transition: background-color 0.3s ease;
    /* Add a smooth transition for the background color */
}

.page-item button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.page-item button.active {
    background-color: #555;
}

/* Hover effect for page buttons */
.page-item:hover {
    background-color: #0056b3;
    transform: scale(1.1);
    /* Change the background color on hover */
}
.grid-item:hover {
    transform: scale(1.1);
    /* Zoom in to 110% of the original size */
}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        /* Adjust the number of columns for smaller screens */
    }
        .card{
           display: flex;
           justify-content: space-around;
           align-items: center;
           width:0%;
           
        }
        
}
