/* Navbar styles */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;

}
.nav-links-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

/* Navbar brand (logo) styles */
.navbar-brand {
    font-size: 24px;
    color: #ffcc00;
}

/* Navigation link styles */

.nav-link.links {
    margin-right: 20px;
    color: #fff;
    transition: color 0.3s, background-color 0.3s, border-radius 0.3s;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;

    
}
.nav-link.links:hover{
    background-color: rgb(41, 41, 126);
    border-radius: 24px;
    transform: scale(1.1);
    color: white;
}

/* Button link style */
.btnlink {
    text-decoration: none;
    color: #43405a;
    transform: scale(1.1);
}
.linkdeco{
    text-decoration: none;
    color: darkgray;
}
/* Media query to style the navbar for smaller screens (e.g., mobile) */
@media (max-width: 768px) {
    .navbar {
        padding: 10px 0;
        background-color: lightgray;
        /* Adjust the padding for smaller screens */
    }

    .navbar-brand {
        font-size: 20px;
        /* Adjust the brand font size for smaller screens */
    }

    .navbar-collapse {
        background-color: #504f4f;
        /* Background color for the collapsed menu */
    }
}
@media screen and (max-width:480px) {
    
                .navbar-brand {
                    font-size: 20px;
                }
        
                
                 .nav-links-container {
                     display: grid;
                     justify-content:left;
                     align-items: center;
                     padding-right: 2px;
                }
}